*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#header{
    background-color: #144b8a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    display: inline-block;
    padding: .1rem;
    margin: .8rem;
}
.logo p{
    padding: .1rem;
}
.logo a{
    font-family: Aston;
    color: black;
    text-align: center;
    margin: auto;
    display: inline-block;
    text-decoration: none;
    letter-spacing: .2rem;
}

.nav{
    display: inline-flex;
    float: right;
    align-self: flex-end;
    box-sizing: border-box;
}

.nav ul{
    width: 100%;
    box-sizing: border-box;
}

#header li{
    padding: .1rem;
    display: inline-block;
    box-sizing: border-box;
}
ul a{
    padding: .85rem;
    margin: .1rem;
    color: rgb(207, 206, 206);
    display: block;
    border-radius: 1rem;
    font-family: Sigmar;
    box-sizing: border-box;
    letter-spacing: .1rem;
}

#header li a:hover{
    background-color: rgba(196, 196, 196, 0.507);
}

main{
    background-color: #dbfbe1;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1487715224545-78f0cedc19bd?ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
    background-image: url("https://images.unsplash.com/photo-1504941214544-9c1c44559ab4?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
    background-image: url("https://images.unsplash.com/photo-1472552944129-b035e9ea3744?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
    background-size: cover;
}

.item{
    padding: 1rem;
    min-height: 50rem;
}

h2{
    padding-top: 4%;
    padding-left: 2%;
    color: white;
}

.item .text{
    font-family: 'Times New Roman', Times, serif;
    color: ivory;
    padding: 6%;
    padding-top: 2%;
    margin-top: 0;
    padding-bottom: 3%;
}

.line{
    display: none;
    margin: auto;
    width: 65%;
    background-color:rgba(22, 180, 22, 0.863);
    letter-spacing: 0;
}

.tFondo{
    padding:1%;
    margin: 0;
    background-color: #48454542;
    border-radius: .2rem;
}
.container-footer{
    background-color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}
.container-footer p{
    font-size: 11px;
}
.footer-top{
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 1rem;
    flex: auto;
    display: inline-flex;
    justify-content: space-between;
    min-height: 2rem;
    box-sizing: border-box;
}
figure{
    padding: .2rem;
    display: inline-flex;
    justify-content: flex-start;
}
figure img{
    margin-right: 1rem;
    width: 30px;
    height: 30px;
}
.footer-item-left p{
    color: white;
    text-align: justify;
}
.footer-item-right p{
    margin-top: 9px;
    color: white;
}
.footer-item-left{
    display: inline-flex;
    flex-direction: column;
}
.footer-item-right{
    display: inline-flex;
    flex-direction: column;
}
.footer-bottom{
    border: rgba(255, 235, 205, 0.5) .1px solid;
    min-height: 2rem;
}
.small-footer p{
    color: white;
    margin-top: 10px;
    text-align: center;
}

@font-face{
    font-family: Aston;
    src: url(../font/Anton-Regular.ttf);
}

@font-face{
    font-family: Sigmar;
    src: url(../font/SigmarOne-Regular.ttf);
}